# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem would be explained briefly in this notebook.

**Objectives**
* Popular languages for Data Science
* Commonly used libraries by Data Scientists
* Open source tools used in Data Science
* Introduction to Jupyter Notebook
* About Github

Some of the popular languages that Data Scientists use are:
1. Python 
2. Java
3. SQL
4. Julia
5. R
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Numpy
4. Matplotlib
5. Seaborn

|Data Science Tools|
---------------------------
|Jupyter|
|Apache zeppelin|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers;

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60;

In [2]:
200/60

3.3333333333333335

## Author
Ajayi Grace Ohunene